div {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: center;
	padding: 12px;
}

tr:nth-child(even) {
	background-color: #F5F5F5;
}


div:hover {
		background-color:	#9BCD9B;
}

img{
	width: 150px;
	height: 150px;
	float: left;
}

[class*=hi] {
	background: green;
	color: white;
}

[class*=yo] {
	background: #F4A460;
	color: white;
}

[class*=hey] {
	background: #FA8072;
	color: white;
}

::selection {
	background: green;
	color: white;
}
	
	